{% load static %}
{% load make_link %}

<div>
    
    {% for post in posts %}
        <div>
            <div class="alert alert-light" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            {% if post.host.profile.profile_image %}
                            <a href="{% url 'profile' post.host.id %}"><img src="{{ post.host.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"></a>
                            {% else %}
                            <img src="{% static 'images/cat.jpg' %}" width="50" height="50" class="rounded-circle">
                            {% endif %}
                            <div id="like-section">
                                {% include 'base/like_section.html' %}
                          </div>
                        </div>
                    <div class="col-8">
               
                
                <a href="{% url 'profile' post.host.id %}">@{{post.host.username}}</a><br>
                {% if post.location %}
                <a id="post-location-link" href="{% url 'map'  %}?latitude={{post.location.latitude}}&longitude={{post.location.longitude}}" class="address-link"
                   data-latitude="{{ post.location.latitude }}"
                   data-longitude="{{ post.location.longitude }}"
                   data-city="{{ post.location.city }}"
                   data-country="{{ post.location.country }}"
                   data-street-name="{{ post.location.street_name }}"
                   data-street-number="{{ post.location.street_number }}">
                  {{ post.location.address }}
                  {% endif %}
                
                {% if request.user == post.host %}
                <a href="{% url 'update-post' post.id %}">Edit</a>
                <a href="{% url 'delete-post' post.id %}">Delete</a>
                {% endif %}
                <br/>
                <h5> <a href="{% url 'post' post.id %}">{{post.name}}</a></h5>
                
                {% if post.image %}
                    <img src="{{ post.image.url }}" 
                    height="200">    <br/><br/>
                {% endif %}
                <p>{{ post|hashtag_link|safe }}</p>
               <br/><br/>
                
                <!-- <small>{{post.topic.name}}</small>  -->
               
              </div>
                 </div>
                </div>
            </div>
           
            
        </div>
    {% endfor %}
</div>