{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="home-container">

            <div>
                {% include 'base/topics_component.html' %}
        
            </div>
        
        </div>
    </div>



    <div class="col-sm-6">
        <h5>{{post_count}} posts</h5>
        <a href="{% url 'create-post' %}">Create post</a>

 
        {% include 'base/feed_component.html' %}
    </div>
  



    <div class="col-sm-4">
      {% include 'base/activity_component.html' %}

    </div>
</div>
</div>
</div>

{% endblock content %}